.js-clock {
  display: block;
  justify-content: center;
  margin-top: 200px;
}

.js-clock h1 {
  font-size: 100px;
  text-align: center;
  color: #dfe6e9;
  top: 200px;
  text-shadow: 0 5px 25px rgba(0, 0, 0, 0.7);
}
