body {
  background-color: #ecf0f1;
}

.btn {
  cursor: pointer;
}

h1 {
  color: #7f8c8d;
  transition: color 0.5s ease-in;
}

.clicked {
  color: #f1c40f;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}
